.shop {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h3 {
  display: block;
  font-family: FontName;
  font-weight: bold;
}

.NavDropdown.Item {
  font-family: FontName;
  font-weight: bold;
}